<style>
  h1 {
    padding: 12px 14px;
  }

  input[type=submit]{
    margin: 5px 25px ;
  }

  input[type=text]{
    margin: 5px 25px ;
  }

  h1 {
   font-family:calibri;
   font-size: 25px;
   font-weight: 500;
  }

  p {
    padding: 0px 25px;
    font-family: calibri light;
    font-size: 20px;
  }


  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

   .dropdown:hover .dropdown-content {
      display: block;
   }

  li {
    float: left;
    border-right: 1px solid #bbb;
  }

  li:last-child {
    border-right: none;
  }

  li a {
    display: block;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    text-color: black;
  }

  li a1 {
    display: block;
    padding: 12px 14px;
  }

  li a:hover {
    background-color: #dcdcdc;
  }

  li a:visited {
    color: black;
  }

  li a:unvisited {
    color: black;
  }

  p a:visited {
    color: black;
  }

  p a:unvisited {
    color: black;
  }

  p.toptitle {
    font-family:calibri light;
    font-size: 25px;
    text-align: center;
    padding: 1px 1px;
    left: 50%
    transform: translate(-50%, -50%);
  }

  ul.navbar {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-family:calibri light;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
<body>
  <p class="toptitle">Dream Version 0.2.0</p>
</body>


<ul class="navbar">
  <li><a href="/feed">Feed</a></li>
  <li><a href="/userprofiles/my-profile">Profile</a></li>

  <li class="dropdown">
    <a href="/clothing/closet" class="dropbtn">Closet</a>
    <div class="dropdown-content">
      <a href="/clothing/closet">Your Clothes</a>
      <a href="/clothing">Your Outfits</a>
      <a href="/clothing/favorite-articles">Favorite Clothes</a>
      <a href="/clothing/favorite-outfits">Favorite Outfits</a>
    </div>
  </li>

  <li class="dropdown">
    <a href="/clothing/create-outfit" class="dropbtn">Create</a>
    <div class="dropdown-content">
      <a href="/clothing/create-outfit">New Outfit</a>
      <a href="/clothing/closet/create-article">New Clothing</a>
      <a href="/clothing/collections/create-collection">New Collection</a>
    </div>
  </li>

  <li><a href="/clothing/collections">Collections</a></li>
  <li><a href="/userprofiles">Search Users</a></li>
  <li><a href="/about">About</a></li>
</ul>

  {% if user.is_authenticated %}
    <p>Logged in as {{ user.get_username }}, <a href="{% url 'logout'%}">Logout</a></p>
  {% elif 'logout' in request.path %}
    <!-- I want nothing to happen here -->
  {% else %}
    <p><a href="{% url 'login'%}?next={{request.path}}">Login</a></p>
  {% endif %}

{% block content %}

[enter content here]

{% endblock %}
