<style>
  p.toptitle {
    font-family:calibri light;
    font-size: 25px;
    text-align: center;
    padding: 1px 1px;
    left: 50%
    transform: translate(-50%, -50%);
  }

  p {
    padding: 0px 25px;
    font-family: calibri light;
    font-size: 20px;
  }

  p a:visited {
    color: black;
  }

  p a:unvisited {
    color: black;
  }
</style>

<p class="toptitle">Dream Version 0.2.0</p>

<p><b>You are not logged in. What would you like to do?</b></p>
<p> - If you're a new user, register <a href="/register">HERE</a></p>
<p> - If you have an account, log in <a href="/accounts/login/">HERE</a></p>
<p> - Looking for some info? Find it <a href="/about">HERE</a></p>
