{% extends 'base.html' %}

{% block content %}

<p>Search For Profiles. If nothing comes up, there's no users by that name.</p>
<form method='GET' action=''>
    <input type="text" name="q" placeholder="Search users by username"/>
    <input type="submit" value="Search!"/>
</form>
{% for instance in object_list %}

<p> Unique Profile ID: {{ instance.id }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.user.username }}</a> ({{ instance.user.first_name }} {{ instance.user.last_name }})</p>

{% endfor %}

{% endblock %}
