{% extends "base.html" %}

{% block content %}

<p><b>New User Registration:</b></p>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button style="background-color:black; color:white" class="btn btn-outline-info" type="submit">Sign Up</button>
    </form>

    <p>Warning: Password must be at least 8 characters and can't be entirely numeric.</p>

    If you already have an account <a href="/login" target="blank"><strong>login</strong></a> instead.

{% endblock %}
