{% extends 'base.html' %}

{% block content %}

<h1>Your Clothes</h1>
<p><a href="create-article/">Add new clothes!</a></p>

{% for instance in object_list %}

     <div class="list-img-format">
    {% if instance.image %}

            <p><img src="{{ instance.image.url }}" alt="No Image." width = 80><a href='{{ instance.get_absolute_url }}'>{{ instance.color }} {{ instance.clothing_type }}</a></p>

    {% else %}

        <p><a href='{{ instance.get_absolute_url }}'>{{ instance.color }} {{ instance.clothing_type }}</a></p>
    {% endif %}
     </div>

{% endfor %}

{% endblock %}
