{% extends 'base.html' %}

{% block content %}
<h1>{{ object.color }} {{ object.clothing_type }}</h1>
<img class="article-detail" src="{{ image_source }}" width="120">
{% if is_favorited %}
    <p>You have already favorited this: <a href="favorite/">Unfavorite</a></p>
{% else %}
<p>You have not favorited this yet: <a href="favorite/">Favorite</a></p>
{% endif %}
<p>Owner: <a href="{{ creator_acc.get_absolute_url }}">{{ object.creator }}</a></p>
<p>Clothing Type: {{object.clothing_type }}</p>
<p>Color: {{ object.color }}</p>
<p>Cut: {{ object.cut }}</p>
<p>Pattern: {{ object.pattern }}</p>
<p>Material: {{ object.material }}</p>

{% endblock %}

