{% extends 'base.html' %}

{% block content %}
<h1>{{ object.color }} {{ object.clothing_type }}</h1>
{% if is_favorited %}
    <p>You have already favorited this: <a href="favorite/">Unfavorite</a></p>
{% else %}
<p>You have not favorited this yet: <a href="favorite/">Favorite</a></p>
{% endif %}
<ul>
    <li>Owner: {{ object.creator }}</li>
    <li>Clothing Type: {{object.clothing_type }}</li>
    <li>Color: {{ object.color }}</li>
    <li>Cut: {{ object.cut }}</li>
    <li>Pattern: {{ object.pattern }}</li>
    <li>Material: {{ object.material }}</li>
</ul>

{% endblock %}

