{% extends 'base.html' %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>Made by {{ object.creator }}</p>
<p><a href="edit">Edit this Collection!</a></p>

<p>Articles:</p>
<ul>
{% for instance in object.articles.all %}
    <li><a href="{{ instance.get_absolute_url }}">{{ instance.color }} {{ instance.clothing_type }}</a></li>
{% endfor %}
</ul>

<b>Quick Article Add:</b>
<form action="" method="post">{% csrf_token %}
    {{ add_article_form }}
    <input type="submit" value="Send Article">
</form>

<p>Outfits:</p>
<ul>
{% for instance in object.outfits.all %}
    <li><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></li>
{% endfor %}
</ul>

<b>Quick Outfit Add</b>
<form action="" method="post">{% csrf_token %}
    {{ add_outfit_form }}
<input type="submit" value="Send Outfit">
</form>


{% endblock %}
