{% extends 'base.html' %}

{% block content %}
<h1>{{ object.name }}</h1>
<p>Made by {{ object.creator }}</p>

{% if can_edit %}
<p><a href="edit">Edit this Collection!</a></p>
{% endif %}

<b>Articles:</b>
{% for instance in object.articles.all %}
    <p><a href="{{ instance.get_absolute_url }}">{{ instance.color }} {{ instance.clothing_type }}</a></p>
{% endfor %}


<b>Outfits:</b>

{% for instance in object.outfits.all %}
    <p><a href="{{ instance.get_absolute_url }}">{{ instance.title }}</a></p>
{% endfor %}

{% if can_edit %}
<p><a href="delete/">Delete this collection</a></p>
{% endif %}

{% endblock %}
