{% extends 'base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>Made by <a href="{{ creator_acc.get_absolute_url }}">{{ object.creator }}</a>
{% if is_favorited %}
    <p>You have already favorited this: <a href="favorite/">Unfavorite</a></p>
{% else %}
<p>You have not favorited this yet: <a href="favorite/">Favorite</a></p>
{% endif %}
<ul>
    <li>Top: <a href="{{ object.top.get_absolute_url }}">{{ object.top }}</a></li>
    <li>Bottom: <a href="{{ object.bottom.get_absolute_url }}">{{ object.bottom }}</a></li>
    <li>Shoes: <a href="{{ object.shoes.get_absolute_url }}">{{ object.shoes }}</a></li>
    <li>Jacket: <a href="{{ object.jacket.get_absolute_url }}">{{ object.jacket }}</a></li>
    <li>Socks: <a href="{{ object.socks.get_absolute_url }}">{{ object.socks }}</a></li>
    <li>Hat: <a href="{{ object.hat.get_absolute_url }}">{{ object.hat }}</a></li>
</ul>

{% endblock %}
